@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* Colors */
  --white: #ffffff;
  --gray-900: #18191c;
  --gray-500: #767f8c;
  --gray-50: #f1f2f4; /* Main background color */
  --primary-color: #18191c; /* Text color for brand and nav items */
  --secondary-color: #f8f9fa; /* Light background color for footer/header */
  --accent-color: #007bff; /* Accent color for buttons/links */

  /* Other variables (typography, spacing, etc.) */
  --font-family: "Inter, sans-serif";
  --font-weight: 400;
  --font-style: normal;
  --font-size-base: 16px;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

input {
  border: initial;
  outline: initial; /* create alternative for focus state */
  font: inherit;
}

/* BASE */
.body {
  font-family: var(--font-family);
  font-size: 16px; /* Adjust as per your design */
  color: var(--primary-color);
  background-color: var(--gray-50);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  /* scrollbar-width: none; Firefox */
}

/* Main content */
.main {
  flex: 1; /* Takes up available space to push the footer down */
}

/* Footer styles */
.footer {
  background: var(--gray-900);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
  color: var(--white);
}

/* Base header block */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background: #f8f9fa; */
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__menu {
  display: flex;
  gap: 1.5rem;
}

.header__item {
  list-style: none;
}

/* Subheading for the job list page */
.subheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--white);
}

.subheading__search {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gray-900);
}

.subheading__left {
  display: flex; /* Makes the items align in a row */
  align-items: center; /* Vertically centers the items */
  gap: 1rem; /* Adds spacing between the brand name and the search bar */
}
