/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

input {
  border: initial;
  outline: initial; /* create alternative for focus state */
  font: inherit;
}

/* BASE */
.body {
  background-color: #dee3e9;
  color: rgb(22, 24, 28);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  /* scrollbar-width: none; Firefox */
}

/* Main content */
.main {
  flex: 1; /* Takes up available space to push the footer down */
}

/* Footer styles */
.footer {
  background: #f8f9fa;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

/* Base header block */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #f8f9fa;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__menu {
  display: flex;
  gap: 1.5rem;
}

.header__item {
  list-style: none;
}

/* Subheading for the job list page */
.subheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #e9ecef;
}

.subheading__search {
  width: 60%;
  padding: 0.5rem;
}
